/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.block-control-control-area {
	border-bottom: 1px solid #e2e4e7;
	margin-bottom: 20px;
	padding-bottom: 10px;
	
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.block-control-dashicon {
	background-color: #fff !important;
	border-radius: 0;
	box-shadow: none !important;
	color: #555d66;
	cursor: default;
	opacity: 0;
	padding: 5px;
	position: absolute;
	right: 0;
	text-shadow: 0 0 3px 2px #fff;
	top: -28px;
	transition: top .1s linear;
	z-index: 10;
	
	> svg {
		margin-right: 0 !important;
		opacity: 0;
	}
	
	.wp-block:hover &,
	&:focus {
		opacity: 1;
		
		> svg {
			opacity: .5;
		}
	}
	
	.wp-block:not(.is-selected):hover &,
	.is-hovered & {
		top: 0;
		transition: none;
	}
}

.block-control-date {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 25px; // make sure the reset icon fits
	
	&:empty {
		min-height: 0;
	}
}

.block-control-date-label {
	flex: 1 1 auto;
}

.block-control-date-reset {
	color: #6c7781;
	transform: translateY(-8%);
}

.block-control-datetime-picker {
	padding: 10px;
}
