/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.block-control-control-area {
	border-bottom: 1px solid #e2e4e7;
	margin-bottom: 20px;
	padding-bottom: 10px;
	
	&:last-child {
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.interface-interface-skeleton__sidebar {
	.block-control-control-hide-conditional-tags,
	.block-control-control-hide-posts,
	.block-control-control-hide-roles {
		> .components-base-control__label {
			margin-bottom: 8px;
		}
		
		.block-control-checkbox-select > .components-base-control {
			margin-bottom: 4px;
		}
		
		.components-base-control__label {
			display: block;
		}
	}
}

.block-control-checkbox-select {
	max-height: 150px;
	overflow: auto;
}

.block-control-dashicon {
	background-color: #fff !important;
	border-radius: 0;
	box-shadow: none !important;
	color: #555d66;
	cursor: default;
	opacity: 0;
	padding: 8px;
	position: absolute;
	right: 0;
	text-shadow: 0 0 3px 2px #fff;
	top: -31px;
	transition: top .1s linear;
	z-index: 10;
	
	> svg {
		margin-right: 0 !important;
		opacity: 0;
	}
	
	.wp-block:hover &,
	.is-selected &,
	&:focus {
		opacity: 1;
		
		> svg {
			opacity: .5;
		}
	}
	
	.wp-block:not(.is-selected):hover &,
	.is-hovered & {
		top: 0;
		transition: none;
	}
}

.block-control-hide-by-date.block-control-hide-by-date { // needs identical specificity as .block-editor-block-inspector .components-base-control
	margin-bottom: 0;
	
	.components-base-control__field {
		margin-bottom: 0;
	}
}

.block-control-date {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-height: 36px; // make sure the reset icon fits
	
	&:empty {
		min-height: 0;
	}
}

.block-control-date-label {
	flex: 1 1 auto;
}

.block-control-date-reset {
	color: #6c7781;
}

.block-control-datetime-picker {
	padding: 10px;
}

.block-control-help {
	color: #757575;
	font-size: 12px;
	font-style: normal;
}

.block-control-is-hidden {
	&.by-date {
		> .wp-block {
			opacity: .5;
			
			&.has-child-selected,
			&.is-selected {
				opacity: 1;
			}
		}
	}
}

.block-control-device-area {
	.components-base-control {
		margin-bottom: 0;
	}
	
	.components-base-control__field {
		margin-bottom: 8px;
	}
	
	.components-base-control__label {
		display: block;
		margin-bottom: 8px;
	}
}
